  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conatainer td{
    background-color: #fff;
  }

  .conatainer tr:hover{
    background-color: #ccc;
  }

  .td_indevido{
    background-color: rgba(128, 128, 128, 0.675);
    color: #ccc;
  }

  .urgent {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    animation: ativo 1s linear infinite;
    background-color: #ff0000;
    animation: urgent 1s linear infinite;
  }

  @keyframes urgent {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(252, 78, 78, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  .normal {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(221, 221, 5);
    animation: stable 1s linear infinite;
  }


  .completed {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
  }


  .indevido {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ccc;
  }


  @keyframes stable {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgb(221, 221, 5);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(252, 78, 78, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  #dropdown {
    cursor: pointer;
    font-size: 1.2em;
  }

  #dropdown_active:hover .options {
    display: flex;
    height: auto;
    opacity: 1;
  }

  .options {
    display: none;
    flex-direction: column;
    background-color: rgb(5, 5, 92);
    height: auto;
    width: 7rem;
    position: absolute;
    right: 1.3rem;
    padding: 5px;
    gap: 10px;
    z-index: 999;
    margin-top: .5rem;
    animation: show 0.5s ease;
    opacity: 0;
  }

  .options li {
  list-style: none;
  text-align: center;
  }

  .options li button {
    background-color: transparent;
    border: none;
    height: 1.3rem;
    cursor: pointer;
    position: relative;
    color: #fff;
    font-weight: bold;
    width: 100%;
  }

   .options button:hover {
    background-color: #9a989860;
  }

  .options i {
    margin-right: 0.5rem;
    color: #fff;
  }

  @keyframes show {
    0% {
      opacity: 0;
      height: auto;
    }
  }

  #flag_extravasando{
    color: red;
    font-size: .5em;
    position: absolute;
    top: .2em;
    right: .2em;
    cursor: pointer;
  }

  #flag_motivos{
    color: blue;
    font-size: .5em;
    position: absolute;
    top: .2em;
    left: .2em;
    cursor: pointer;
  }


  .flag_information_show{
    font-size: 1.2em;
    width: 9rem;
    font-weight: bold;
    position: absolute;
    background-color: rgb(80, 79, 79);
    color: #fff;
    top: -3rem;
    left: .5rem;
  }

  .flag_information_none{
    display: none;
  }

  