.table{
    width: 50rem;
    margin-bottom: 1rem;
}


.table thead{
    background-color: rgb(3, 3, 101);
    color: #fff;
    position: sticky;
}

tbody > tr{
    background-color: #fff;
}

.table textarea{
    width: 310px;
    height: 35px;
}
