.container {
  padding: 0px 20px 0px 20px;
  position: relative;
  min-height: 100vh;
  border: 1px solid #fff;
}
#button_new_called {
  width: 150px;
  position: absolute;
  left: 0;
}

table {
  width: 100%;
  margin-bottom: 1rem;
}


table thead {
  background-color: #030365;
  color: #fff;
  height: 2.5rem;
}

table thead th {
  padding: 5px;
  font-size: .9em;
}

tbody tr {
  background-color: #fff;
}

tbody td {
  border: 1px solid #ccc;
}

.message_empty {
  display: flex;
  justify-content: center;
  margin: auto 0;
  align-items: center;
  color: #979696;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}


#atualization_page {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
}

#atualization_page i {
  font-size: 1.2em;
}

#atualization_page:hover {
  background-color: #ccc;
}

.actions {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.actions input {
  height: 2rem;
  width: 20rem;
}

#arrow_active {
  transition: .5s;
  transform: rotate(180deg);
  color: green;
}

#arrow_inactive {
  transition: .5s;
  transform: rotate(360deg);
}

.botao_planilha{
  cursor: pointer;
  background-color: green;
  color: #fff;
  position: absolute;
  right: .2rem;
  border: none;
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
}

.data_filtro{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9em;

  & i{
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin-left: 5px;
  }

  & i:hover{
    color: green;
  }
}

#float_button_sidebar{
  position: absolute;
  top: 1rem;
}