.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input + #icons::before{
    position: absolute;
    left: 310px;
    top: -30px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    & #button_submit{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
