.container {
    display: flex;
    width: 50rem;
    height: 15rem;
    margin-bottom: 1rem;
}

.container_image_informations{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    width: 50rem;
    height: 15rem;
    position: relative;
}

.information {
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: medium;
    box-sizing: border-box;
    padding: .5rem;
}


.information p {
    max-width: 50rem;
    max-height: 3.5rem;
}

.details {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    height: auto;
    width: auto;
}

.details span {
    font-size: medium;
}

.name{
    font-weight: bold;
    font-size: 1.5em;
}

.button {
    display: flex;
    width: 22rem;
    justify-content: space-around;
    position: absolute;
    bottom: .5rem;
}

.button_edit {
    width: 100px;
    height: 35px;
    background-color: rgb(16, 151, 16);
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.button_edit i,
.button_file i,
.button_map i{
    color: #fff;
    font-size: 1rem;
    margin-right: 0.3rem;
}


.button_file {
    width: 100px;
    height: 35px;
    background-color: rgb(74, 74, 253);
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.button_map {
    width: 100px;
    height: 35px;
    background-color: red;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.atualizadoEm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    font-size: .6em;
    color: #929191;
}