.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    & span{
        font-size: small;
    }

    
    & input{
        width: 15rem;
    }

    & button{
       width: 16rem;
    }

}