.background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.715);
    z-index: 99999;
}

.modalHistoric {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: 35rem;
    background-color: #fff;
    padding: 1rem;
    animation: modalShow 1s ease;
    position: relative;
}

.close {
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: transparent;
    right: 0.5rem;
    top: 0.5rem;
}

.close i {
    font-size: 1.2em;
    color: red;
}

.historic {
    border: 1px solid rgb(211, 202, 202);
    border-radius: 5px;
    width: 25rem;
    background-color: #ccccccb4;
    padding: 0.3rem;
    overflow: auto;
    height: calc(100vh - 116px);
    display: flex;
    flex-direction: column;
    gap: .6rem;

    &::-webkit-scrollbar-thumb {
        background-color: blue;
        border-radius: 10px;
        width: 10px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background: #F4F4F4;
    }
}

@keyframes modalShow {
    0% {
        opacity: 0;
    }
}
